:root {
  --color-white: rgba(255, 255, 255, 1);
  --neutral-colors600: rgba(109, 117, 143, 1);
  --neutral-colors100: rgba(255, 255, 255, 1);
  --neutral-colors300: rgba(241, 243, 247, 1);
  --neutral-colors500: rgba(180, 185, 201, 1);
  --h1-font-family: "Bebas Neue", Helvetica;
  --h1-font-weight: 400;
  --h1-font-size: 96px;
  --h1-letter-spacing: 0px;
  --h1-line-height: 120px;
  --h1-font-style: normal;
  --h2-font-family: "Bebas Neue", Helvetica;
  --h2-font-weight: 400;
  --h2-font-size: 64px;
  --h2-letter-spacing: 0px;
  --h2-line-height: 52.79999923706055px;
  --h2-font-style: normal;
  --h3-font-family: "Bebas Neue", Helvetica;
  --h3-font-weight: 400;
  --h3-font-size: 48px;
  --h3-letter-spacing: 0px;
  --h3-line-height: 44px;
  --h3-font-style: normal;
  --h4-font-family: "Bebas Neue", Helvetica;
  --h4-font-weight: 400;
  --h4-font-size: 36px;
  --h4-letter-spacing: 0px;
  --h4-line-height: 4px;
  --h4-font-style: normal;
  --h5-font-family: "Bebas Neue", Helvetica;
  --h5-font-weight: 400;
  --h5-font-size: 32px;
  --h5-letter-spacing: 0px;
  --h5-line-height: 26.399999618530273px;
  --h5-font-style: normal;
  --large-text-font-family: "Roboto", Helvetica;
  --large-text-font-weight: 400;
  --large-text-font-size: 20px;
  --large-text-letter-spacing: 0px;
  --large-text-line-height: 28px;
  --large-text-font-style: normal;
  --large-text-b-font-family: "Roboto", Helvetica;
  --large-text-b-font-weight: 700;
  --large-text-b-font-size: 20px;
  --large-text-b-letter-spacing: 0px;
  --large-text-b-line-height: 28px;
  --large-text-b-font-style: normal;
  --medium-text-b-font-family: "Roboto", Helvetica;
  --medium-text-b-font-weight: 700;
  --medium-text-b-font-size: 18px;
  --medium-text-b-letter-spacing: 0px;
  --medium-text-b-line-height: 25.200000762939453px;
  --medium-text-b-font-style: normal;
  --medium-text-font-family: "Roboto", Helvetica;
  --medium-text-font-weight: 400;
  --medium-text-font-size: 18px;
  --medium-text-letter-spacing: 0px;
  --medium-text-line-height: 25.200000762939453px;
  --medium-text-font-style: normal;
  --text-normal-bold-font-family: "Inter", Helvetica;
  --text-normal-bold-font-weight: 700;
  --text-normal-bold-font-size: 16px;
  --text-normal-bold-letter-spacing: 0px;
  --text-normal-bold-line-height: 22.399999618530273px;
  --text-normal-bold-font-style: normal;
  --display-1-uppercase-semi-bold-font-family: "Inter", Helvetica;
  --display-1-uppercase-semi-bold-font-weight: 600;
  --display-1-uppercase-semi-bold-font-size: 12px;
  --display-1-uppercase-semi-bold-letter-spacing: 0.96px;
  --display-1-uppercase-semi-bold-line-height: 18px;
  --display-1-uppercase-semi-bold-font-style: normal;
  --display-1-semi-bold-font-family: "Inter", Helvetica;
  --display-1-semi-bold-font-weight: 600;
  --display-1-semi-bold-font-size: 12px;
  --display-1-semi-bold-letter-spacing: 0px;
  --display-1-semi-bold-line-height: 18px;
  --display-1-semi-bold-font-style: normal;
  --display-2-semi-bold-font-family: "Inter", Helvetica;
  --display-2-semi-bold-font-weight: 600;
  --display-2-semi-bold-font-size: 14px;
  --display-2-semi-bold-letter-spacing: 0px;
  --display-2-semi-bold-line-height: 20px;
  --display-2-semi-bold-font-style: normal;
  --display-3-regular-font-family: "Inter", Helvetica;
  --display-3-regular-font-weight: 400;
  --display-3-regular-font-size: 16px;
  --display-3-regular-letter-spacing: 0px;
  --display-3-regular-line-height: 22px;
  --display-3-regular-font-style: normal;
  --neutral-shadow-02: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
  --variable-collection-primary: rgba(26, 26, 26, 1);
  --variable-collection-secondary: rgba(58, 58, 58, 1);
  --variable-collection-light-green: rgba(136, 156, 118, 1);
  --variable-collection-dark-green: rgba(78, 94, 58, 1);
  --variable-collection-dark-blue: rgba(28, 40, 51, 1);
  --variable-collection-light-blur: rgba(93, 109, 126, 1);
  --variable-collection-light-blue: var(--variable-collection-light-blur);
  --variable-collection-blood-red: rgba(168, 50, 50, 1);
  --variable-collection-bordo-red: rgba(122, 35, 35, 1);
  --variable-collection-rust-red: rgba(142, 59, 59, 1);
  --variable-collection-honey-red: rgba(199, 109, 58, 1);
  --variable-collection-black: rgba(0, 0, 0, 1);
  --variable-collection-border: rgba(224, 224, 224, 1);
  --variable-collection-secondary-text: rgba(187, 187, 187, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
  --variable-collection-fog-gray: rgba(51, 51, 51, 1);
  --variable-collection-cold-gray: rgba(62, 62, 62, 1);
  --variable-collection-steel-gray: rgba(82, 82, 82, 1);
}
